.brandName {
    font-size: 36px;
}


#navBarSection {
    /* border-style: dashed;  */
    width: 100%;
    display: flex;
    z-index: 9999;
    overflow: auto;
    /* position: fixed; */
    /* don't know about position: fixed just yet */
    align-items: center;
    justify-content: space-between;
    top: 0;



}



/* #tenantableLogo {
    background-color: green;
    this can be improved 
} */

#navBarLinks {
    font-family: 'Lobster', cursive;
}

a:link {
  cursor: pointer;
  /* this changes to a hand on hover */
}